.banner {
    display: flex;
    gap: 10px;
    user-select: none;
}
.card {
    border: 2px solid black;
    padding: 10px;
    width: 90px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.card.active {
    background-color: lightblue;
}
.section {
    display:  none;
    max-width: 800px;
    margin: 0 auto;
    padding 1rem;
}
.section.active {
    display: block;
}
